mixin bottom-block()
  .bottom-block
    .container
      p.bottom-block__paragraph Text utp

      label.bottom-block__modal-btn.btn.btn--open-modal(for="modal-toggle", aria-label="Открыть модальное окно") Open pop-up button
