mixin yellow-green()
  section.yellow-green
    .container
      h2.yellow-green__title text
      .yellow-green__wrapper
        .yellow-green__item.is-active
        .yellow-green__item
        .yellow-green__item
        .yellow-green__item
        .yellow-green__item
