mixin modal()
  //- Скрытый чекбокс для управления модальным окном
  input(type="checkbox" id="modal-toggle")

  div(class="modal")
    div(class="modal__content")

      label(for="modal-toggle" class="modal__close btn btn--close-modal") X
      h2.modal__title Pop-up
